* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #685d5d;
  color: #3d3939;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
display: flex;
justify-content: center;
gap: 30px;
font-size: large;
}

.field{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: smaller;
}

.value{
  font-size: xx-large;
}

.inputarea{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.label{
  font-weight: 600;
}